*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#f8fafc;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
background:#0f766e;
color:white;
position:sticky;
top:0;
}

.logo{
display:flex;
align-items:center;
gap:10px;
}

.logo img{
height:50px;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
url(images/hero.jpg);
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero h1{
font-size:60px;
}

.hero p{
margin:20px 0;
font-size:20px;
}

.btn{
background:#14b8a6;
padding:12px 25px;
color:white;
text-decoration:none;
border-radius:30px;
}

.secondary{
background:#f59e0b;
}

.title{
text-align:center;
margin-bottom:50px;
color:#0f766e;
}

section{
padding:80px 10%;
}

.about-container{
display:flex;
gap:40px;
align-items:center;
}

.about-container img{
width:45%;
border-radius:15px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
}

.stats{
display:grid;
grid-template-columns:repeat(4,1fr);
background:#0f766e;
color:white;
text-align:center;
}

.gallery{
columns:3;
gap:15px;
}

.gallery img{
width:100%;
margin-bottom:15px;
border-radius:12px;
}

.donate{
text-align:center;
background:white;
}

.bank{
margin-top:20px;
padding:30px;
background:#f1f5f9;
border-radius:10px;
}

form{
max-width:700px;
margin:auto;
}

input,
textarea{
width:100%;
padding:15px;
margin:10px 0;
border:1px solid #ddd;
border-radius:8px;
}

button{
background:#14b8a6;
color:white;
padding:15px 30px;
border:none;
border-radius:8px;
cursor:pointer;
}

footer{
background:#0f172a;
color:white;
text-align:center;
padding:40px;
}

.social i{
font-size:25px;
margin:15px;
}

@media(max-width:768px){

.about-container{
flex-direction:column;
}

.about-container img{
width:100%;
}

.stats{
grid-template-columns:1fr 1fr;
}

.gallery{
columns:1;
}

.hero h1{
font-size:40px;
}

}